#apply{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: black;
    border:2px solid rgb(32, 37, 32);
    padding: 10px 20px;
    border-radius: 5px;
width: 300px;
margin-left: 630px;
}
