#article{
    text-align: center;
    color: blueviolet;
    font-size: 60px;
}
/*.acc{
    height: 1000px;
    width: 300px;
    text-align: center;
}*/
#home{
    color: black;
    font-size: 20px;
}