div h5{
    text-align: center;
    color: rgb(92, 140, 38);
    font-size: 30px;
    font-size: 60px;
}
#dhu{
    text-align: center;
}
#GoldLoanSection{
    color: black;
    font-size: 20px;
}
.Link{
    text-align: center;
    margin-top: 20px;
}