
div h1{
    text-align: center;
    color: rgb(3, 20, 27);
    text-align: center;
    font-size: 50px;

} 
    .nandhu{
    background-image: url("/Images/cannara.jpg");
    padding: 20px;
    margin: 10px;
    border: 5px solid black;
    

}


/*#deep{
    
    text-align: center;
    background-color: rgb(123, 65, 65);
    font-size: 30px;
}

div h4{
    text-align: center;
    color: blueviolet;
    font-size: 60px;
}
div h5{
    text-align: center;
    color: rgb(92, 140, 38);
    font-size: 30px;
    font-size: 60px;
}
#nan{
    
    
    text-align: right;

}
#san{
    font-size: 60px;
    text-align: center;
    color: darkgoldenrod;
}
#dhu{
    text-align: center;
    
}
.acc{
    height: 1000px;
    width: 400px;
}
#cash{
    height: 1000px;
    width: 400px;
}*/





