#nan{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 20px
    }
#logo{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(12, 11, 11);
}